<h1>Customer Index</h1>

<a class="btn btn-primary" asp-action="Index" asp-controller="Home">Home</a>

<h2>@ViewBag.Data</h2>
<br />
<br />
<h2>@ViewBag.Data1</h2>

<div id="divName" data-val="Kishor Naik"></div>

@section Scripts{

    @*<script src="~/js/site.js"></script>*@
    <script type="text/javascript">

        onDemo();

    </script>

}
