<h1>Admin Index</h1>

<a class="btn btn-primary" asp-action="Index" asp-controller="Home">Home</a>

<h2>@ViewBag.Data</h2>

<br />

<a class="btn btn-primary" asp-area="CustomerModule" asp-controller="Customer" asp-action="Index"> Call Customer via Tag Helper</a>

<br />